<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Index | Cyber Security Base Course Project I</title>
    </head>
    <body>

        <h1>Cyber Security Base Course Project I</h1>
        <p>In the first course project our task was to create a web application that
            contains at least five different flaws from the OWASP top 10 list. The
            following links point to subpages containing the flawed implementations.</p>
        <ul>
            <li>1. <a href="/sqlinjection">SQL Injection</a></li>
            <li>2. <a href="/brokenauthentication">Broken Authentication and Session Management</a></li>
            <li>3. <a href="/crossitescripting">Cross Site Scripting (XSS)</a></li>

        </ul>
    </body>
</html>
