<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Unvalidated redirects and forwards | Cyber Security Base Course Project I</title>
</head>
<body>
<p><a href="/">Go to index page</a></p>
<h1>Unvalidated redirects and forwards</h1>
<p></p>

<h2>Steps to exploit the vulnerability</h2>
<ul>
    <li>Click the following link <a href="/redirectToUrl?url=https://cybersecuritybase.github.io/">click this link</a> to get redirected</li>
</ul>

<p><a href="/">Go to index page</a></p>

</body>
</html>
